<header>
	<nav class="navbar d-flex justify-content-between">
		<div class="d-flex px-2 align-items-center">
			<a href="../index.php"><img class="logo" src="../images/logovynile.png" alt="Logo"></a>
			<a class="nav-link active text-white mx-2" href="../index.php">Accueil</a>
			<a class="nav-link active text-white mx-2" href="{{ path('app_register') }}">Inscription</a>
			<a class="nav-link active mx-2 text-white" id="deco3" href="{{ path('app_login') }}">Connexion</a>
			<a class="nav-link active text-white mx-2" href="{{ path('app_disque_index') }}">Produits</a>
			<a class="nav-link active text-white mx-2" href="{{ path('app_artiste_index') }}">Artistes</a>
			<a class="nav-link active text-white mx-2" href="{{ path('cart_index') }}"><img src="../images/cart-shopping-svgrepo-com.svg" alt="panier" class="cart filterInvert" id="panier"></a>
		</div>
		<div class="d-flex px-2 align-items-center">
			{% if app.user %}
				<a class="nav-link active text-white mx-2" id="deco" href="{{ path('app_logout') }}">Se déconnecter</a>
			{% endif %}
			{% if is_granted('ROLE_ADMIN') %}
				<a class="nav-link active text-white mx-2" href="{{path('admin')}}">Panel admin</a>
			{% endif %}
		</div>
		<div>
			{% if app.user %}
				<div class="text-white">Bonjour
					{{ app.user.nom }}
					{{ app.user.prenom }}</div>
				<div class="text-white">{{ app.user.email }}</div>
			{% endif %}
			?>
		</div>
	</nav>
</header>
