{% extends 'base.html.twig' %}

{% block title %}Produits
{% endblock %}

{% block body %}
	<div class="container text-center py-5">
		<h1>Produits</h1>
	</div>
	<div class="container">
		{% for disque in disques %}
			<div class="card mb-4">
				<div class="row g-0">
					<div class="col-md-4 d-flex justify-content-center p-3">
						<img class="imgDisque" src="{{ asset('images/disques/' ~ disque.image) }}" alt="{{ disque.titre }}">
					</div>
					<div class="col">
						<div class="card-body">
							<h3 class="card-title" id="productTitle1">{{ disque.titre }}</h3>
							<div class="card-text">
								<p class="text-black">Auteur:
								</p>
								<p class="text-secondary">Billie Eilish</p>
							</div>
							<div class="card-text">
								<p class="text-black">Description:
								</p>
								<p class="text-secondary">{{ disque.description }}</p>
							</div>
							<div class="card-text d-flex">
								<p class="text-black me-1">Quantité disponible:</p>
								<p class="text-secondary" id="productPrice1">{{ disque.quantity }}</p>
							</div>
							<div class="card-text d-flex">
								<p class="text-black me-1">Prix:</p>
								<p class="text-secondary" id="productPrice1">{{ disque.prix }}</p>
								<p class="text-secondary ms-1">€</p>

							</div>
							<div class="card-text d-flex">
								{% if app.user %}
									{% if disque.quantity > 0 %}
										<form action="{{ path('cart_add', {'id': disque.id}) }}" method="post">
											<input class="border" type="number" name="quantity" min="1" max="{{ disque.quantity }}" value="1">
											<button type="submit" class="btn btn-success">Ajouter au panier</button>
										</form>
									{% else %}
										<p class="text-danger ">Epuisé !</p>
									{% endif %}
								{% endif %}
								<a class="btn btn-primary ms-2" href="{{ path('app_disque_show', {'id': disque.id}) }}">Détails</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
